body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    

}
div [id^="trafficL"] {
  margin-top: 20px;
  margin-bottom: -15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  border: 1px solid rgb(191, 180, 166);
}