body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;


}
a{
     font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: rgb(85, 73, 193);
}
a:hover {
    color: rgb(77, 77, 77);
    text-shadow: 4px 4px 4px;
}