body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-size: cover;


}
p{
     font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p::before {
    content: "f12";
    display: block;          
    font-size: 1rem;
    font-family: Arial, sans-serif; 
    margin-top: 10px;        
    margin-bottom: 5px; 
    text-align: center;
    color: #3c3c3c;
}