body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-size: cover;
    text-align: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
p{
     font-size: 2rem;
}

p:hover{
    color: rgb(57, 57, 57);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}